@import '@scss/variables';

.table {
  margin-top: 20px;
  width: 100%;
  height: 100%;

  border-collapse: collapse;
  overflow-x: scroll;

  text-align: center;

  &,
  th,
  td {
    border: 1px solid $border-gray;
  }

  th {
    padding: 4px;
    border-bottom: 2px solid $dark-blue;
  }

  td {
    padding: 6px;

    &:not(:has(input, textarea, select)) {
      padding: 14px;

      @media (max-width: 400px) {
        padding: 6px;
      }
    }

    textarea {
      width: 100%;
      padding: 4px;
      border: 1px solid $border-gray;

      transition: 0.2s all ease;

      &:focus {
        border: 1px solid $border-active-gray;
      }
    }
  }

  tbody {
    tr {
      &:nth-of-type(2n + 1) {
        td:nth-of-type(2n + 1) {
          background-color: $primary-white;
        }

        td:nth-of-type(2n) {
          background-color: $secondary-white;
        }
      }

      &:nth-of-type(2n) {
        td:nth-of-type(2n + 1) {
          background-color: $secondary-white;
        }

        td:nth-of-type(2n) {
          background-color: $white;
        }
      }
    }
  }
}

.input {
  border: none;
  width: 100%;
  height: 100%;
  background-color: $white;
  border: 1px solid $border-gray;
  border-radius: $radius;

  font-size: 16px;
  font-family: inherit;
  color: inherit;
  text-overflow: ellipsis;
  text-align: center;

  transition: 0.2s all ease-out;

  &:focus {
    border-color: $border-active-gray;
  }
}