@import '@scss/variables';

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  svg {
    margin-top: -2px;
  }

  cursor: pointer;
  transition: 0.2s all ease-out;

  span {
    color: $dark-blue;
  }

  &:hover {
    transform: translateY(1px);
  }
}