$black: #232323;

$dark-blue: #303a65;
$gray-blue: #e7f1ff;

$white: #ffffff;
$primary-white: #f5fdff;
$secondary-white: #f9feff;

$delim-gray: #dee2e6;
$border-gray: #cecfcf;
$border-active-gray: #7e7e7e;
$inactive-gray: #f2f2f2;
$inactive-gray-text: #cfb199;
$shadow-gray: #e0e0e0;


$radius: 4px;