@import './variables';
@import './libs/normalize';

#root {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 20px 10px;

  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  font-size: 16px;
  color: $text-color
}